# Lab-1 

**NETID: SMK220008**
**| NAME: SRINATH MURALI KRISHNAN**

In [2]:
import pandas as pd
pd.set_option('display.max_columns', 1500)

import warnings
warnings.filterwarnings('ignore')

#Extend cell width
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

## Load files into Pandas DF

In [4]:
student_df = pd.read_csv(filepath_or_buffer="student-mat.csv", sep=",", header='infer')
nutr_df = pd.read_csv(filepath_or_buffer="Nutritional_Data_for_Fast_Foods.csv", sep=",", header='infer')

In [5]:
student_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,F
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,F
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,C
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,B
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,C

In [6]:
student_df.shape

(395, 31)

In [7]:
nutr_df.head()

,Unnamed: 0,Fast Food Restaurant,Item,Type,Serving Size (g),Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Sodium (mg),Carbs (g),Sugars (g),Protein (g)
0,0,McDonald's,Hamburger,Burger,98,240,8.0,3.0,0.0,480.0,32.0,6.0,12.0
1,1,McDonald's,Cheeseburger,Burger,113,290,11.0,5.0,0.5,680.0,33.0,7.0,15.0
2,2,McDonald's,?,Burger,211,530,27.0,10.0,1.0,960.0,47.0,9.0,24.0
3,3,McDonald's,Quarter Pounder with Cheese,Burger,202,520,26.0,12.0,1.5,1100.0,41.0,10.0,30.0
4,4,McDonald's,Bacon Clubhouse Burger,Burger,270,720,40.0,15.0,1.5,1470.0,51.0,14.0,39.0

## Question 1

(Part a) Read the student grades as a pandas data frame. How many rows are in this data frame?  
(Part b) How many columns are in this dataset?

In [9]:
#a
df = pd.read_csv("student-mat.csv", usecols=['grade'])
print("rows=",df.shape[0])
#b
df = pd.read_csv("student-mat.csv")
print("columns=",df.shape[1])

rows= 395
columns= 31

## Question 2

(Part a) What is the average age of the students in this dataset? Enter the answer with four significant digits.  
(Part b) What is the average freetime in this dataset? Enter the answer with four significant digits.

In [11]:
from statistics import mean
#a
print(round(mean(df['age']),4))
#b
print(round(mean(df['freetime']),4))

16.6962
3.2354

## Question 3

What is the ratio of Grade 'A' to Grade 'F' in this dataset? Enter the answer with four digits after floatation point.

In [13]:
a = df['grade'].apply(lambda x: x.count('A')).sum()
f = df['grade'].apply(lambda x: x.count('F')).sum()
print("ratio= ",round(a/f,4))

ratio=  0.7681

## Question 4

List number of students received Grade B or higher grouped by column `sex`.

In [15]:
a=df[df["grade"]<='B']
a.groupby('sex')["grade"].count()

sex
F    74
M    82
Name: grade, dtype: int64

## Question 5

Consider the grade assignment to GPA below. What is the average grade per `sex` in this dataset? Round the answers to 4 digits after floatation point.

- A: 4
- B: 3
- C: 2
- F: 1

In [17]:
df['grade'] = df['grade'].apply({'A':4, 'B':3,'C':2,'D':1}.get)
print("average grade per sex ",df.groupby('sex')['grade'].mean())

average grade per sex  sex
F    2.577381
M    2.708861
Name: grade, dtype: float64

## Question 6

	
For this part use the dataset `Nutritional_Data_for_Fast_Foods.csv`. Read the dataset as a pandas data frame and answer the following questions. 

Which columns in this dataset have missing values? (represent all the missing values with np.nan)  
Consider "?" as missing value for this dataset.

In [19]:
df=pd.read_csv('Nutritional_Data_for_Fast_Foods.csv')
df.isna().any()
df_new=df.fillna('?')
df_new.isna().any()

Unnamed: 0              False
Fast Food Restaurant    False
Item                    False
Type                    False
Serving Size (g)        False
Calories                False
Total Fat (g)           False
Saturated Fat (g)       False
Trans Fat (g)           False
Sodium (mg)             False
Carbs (g)               False
Sugars (g)              False
Protein (g)             False
dtype: bool

## Question 7

How many unique values are in the column `Item`?

In [21]:
df['Item'].nunique()

101

Same as above, but  exclude missing values

In [23]:
df['Item'].nunique(dropna=True)

101

## Question 8

List unique values and counts for the column `Type`

In [25]:
df['Type'].value_counts()

Burger                      69
Milkshake                   12
French Fries                12
Breaded Chicken Sandwich    11
Grilled Chicken Sandwich    11
Chicken Nuggets             11
Name: Type, dtype: int64

## Question 9

Use a groupby statement to find the average calorie for each food type.   
What is the average calorie for French Fries? (enter the answer with 2 digits after floatation point, e.g. 12.34)

In [27]:
print(df.groupby('Type')['Calories'].mean())
print("average calories for French Fries= ",df.groupby('Type')['Calories'].mean()[3] )

Type
Breaded Chicken Sandwich    522.090909
Burger                      620.202899
Chicken Nuggets             274.545455
French Fries                314.083333
Grilled Chicken Sandwich    408.000000
Milkshake                   606.666667
Name: Calories, dtype: float64
average calories for French Fries=  314.0833333333333

## Question 10

Which fast-food restaurant has the Burger with the highest protein per serving? List restaurants in the order of highest protein per serving to lowest.

In [29]:
df_new_2=df[df['Type']=='Burger']
sorted_val=df_new_2.groupby('Fast Food Restaurant').agg({'Protein (g)': 'mean'}).sort_values('Protein (g)', ascending=False)
print(sorted_val)
print("highest protein per serving = ",sorted_val.index[0])

                      Protein (g)
Fast Food Restaurant
Whataburger             39.285714
Wendy's                 38.857143
Hardee's                34.428571
Sonic                   34.333333
Carl's Jr.              33.237500
Dairy Queen             31.500000
Burger King             30.000000
Jack in the Box         29.714286
McDonald's              28.000000
In-N-Out Burger         25.000000
White Castle            12.400000
highest protein per serving =  Whataburger

## Question 11

Start H2O-3 cluster with 2GB of memory and 2 threads. 
Load two Lab-1 datasets into H2O-3 dataframes and print their dimensions.

In [31]:
import h2o
#start h2o cluster with limited memory and cpu
h2o.init(max_mem_size = "2G", nthreads = 2)

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "17.0.9" 2023-10-17; OpenJDK Runtime Environment Homebrew (build 17.0.9+0); OpenJDK 64-Bit Server VM Homebrew (build 17.0.9+0, mixed mode, sharing)
  Starting server from /opt/anaconda3/lib/python3.9/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/x3/5n0yyb7911zg532jx71xlkrr0000gn/T/tmp3r5gwutn
  JVM stdout: /var/folders/x3/5n0yyb7911zg532jx71xlkrr0000gn/T/tmp3r5gwutn/h2o_srinathmurali_started_from_python.out
  JVM stderr: /var/folders/x3/5n0yyb7911zg532jx71xlkrr0000gn/T/tmp3r5gwutn/h2o_srinathmurali_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       America/Chicago
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.44.0.3
H2O_cluster_version_age:    29 days
H2O_cluster_name:           H2O_from_python_srinathmurali_793rhf
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.9.12 final
--------------------------  ------------------------------------

In [32]:
Nutrition = h2o.import_file(
  path="Nutritional_Data_for_Fast_Foods.csv",
)
Students = h2o.import_file(
  path="student-mat.csv",
)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [33]:
print("Dataset dimensions(Nutrition):", Nutrition.dim)
print("Dataset dimensions(Students):", Students.dim)

Dataset dimensions(Nutrition): [126, 13]
Dataset dimensions(Students): [395, 31]